<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>System short urls</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
        th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}" rel="stylesheet" />
    <script th:src="@{/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js}" defer></script>
    <script src="https://kit.fontawesome.com/923b3f35c4.js" crossorigin="anonymous"></script>

</head>

<body class="bg-secondary">

    <!-- Navigation -->
    <div th:replace="fragments/header :: navigation"></div>

    <div th:if="${message}" class="alert alert-dismissible fade show w-10 position-fixed bottom-0 end-0 m-2"
        th:classappend="|alert-${messageType?: 'info'}|" role="alert">
        <span th:text="#{${message}}"></span>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

    <div class="container">
        <div class="bg-dark rounded m-2 p-2">

            <!-- Search container -->
            <nav class="navbar">
                <div class="container-fluid">
                    <form class="d-flex flex-fill flex-column flex-md-row" th:action="@{/user/adm/uris}" method="get">
                        <!--Filter By User-->
                        <div class="input-group m-1">
                            <label class="input-group-text bg-secondary text-white border-secondary user-select-none"
                                th:text="#{ui.uri.form.search.label}" for="user">Filter:</label>
                            <input class="form-control bg-dark-subtle" type="search" name="user" id="user"
                                th:placeholder="#{ui.uri.form.search.user}" th:value="${param.get('user')}">
                            <a th:href="@{?(search=${param.get('search')})}" class="btn btn-danger"
                                th:if="${!#strings.isEmpty(param.get('user'))}">
                                <i class="fa-solid fa-x"></i>
                            </a>
                        </div>

                        <!-- Search -->
                        <div class="input-group flex-grow-1 m-1 ">
                            <label class="input-group-text bg-secondary text-white border-secondary user-select-none"
                                th:text="#{ui.uri.form.search}" for="search">Search:</label>
                            <input class="form-control bg-dark-subtle" type="search" name="search" id="search"
                                th:placeholder="#{ui.uri.form.search}" th:value="${param.get('search')}">
                            <a th:href="@{?(user=${param.get('user')})}" class="btn btn-danger"
                                th:if="${!#strings.isEmpty(param.get('search'))}">
                                <i class="fa-solid fa-x"></i>
                            </a>
                            <input class="btn btn-secondary" type="submit" th:value="#{menu.nav.btn.submit}">
                        </div>
                    </form>
                </div>
            </nav>

            <!-- Search result message -->
            <div th:if="${!#strings.isEmpty(param.get('search'))}">
                <p class="text-center text-white m-0">
                    Search results for: <span class="fw-bold" th:text="|${param.get('search')}|"></span>
                </p>
            </div>
        </div>

        <!-- No urls message -->
        <div class="mt-5" th:if="${urisPage.numberOfElements} == 0">
            <h2 class="text-white text-center bg-dark rounded lh-lg" th:text="#{empty.urls}"></h2>
        </div>

        <!-- Main table -->
        <table th:if="${urisPage.numberOfElements} != 0" class="table table-dark table-striped mt-1">

            <!-- Table header -->
            <thead class="">
                <tr class="text-center">
                    <th th:text="#{ui.uri.slug}" class="text-uppercase d-md-table-cell" scope="col">SLUG</th>
                    <th th:text="#{ui.uri.owner}" class="text-uppercase d-md-table-cell" scope="col">OWNER</th>
                    <th th:text="#{ui.uri.uri}" class="text-uppercase" scope="col">URL</th>
                    <th th:text="#{ui.uri.hits}" class="text-uppercase d-md-table-cell d-none" scope="col">HITS</th>
                    <th th:text="#{ui.uri.createdAt}" class="text-uppercase d-md-table-cell d-none text-nowrap"
                        scope="col">CREATED AT</th>
                    <th th:text="#{ui.uri.remove}" class="text-uppercase" scope="col">Remove</th>
                </tr>
            </thead>

            <tbody class="table-group-divider">

                <!-- Url tuple -->
                <tr class="text-center" th:each="uri : ${urisPage}">

                    <!-- Begin Url data -->
                    <td class="">
                        <a class="link-underline-light link-underline-opacity-100-hover link-underline-opacity-0 text-light"
                            th:href="|/${uri.slug}|" target="_blank">
                            <p th:text="${uri.slug}">slug</p>
                        </a>
                    </td>
                    <td>
                        <p th:text="${uri.owner}">owner</p>
                    </td>
                    <td class="text-wrap">
                        <a class="text-wrap text-break link-underline-light link-underline-opacity-100-hover link-underline-opacity-0 text-light"
                            th:href="${uri.uri}" th:text="${uri.uri}" target="_blank">
                            url
                        </a>
                    </td>
                    <td class="d-md-table-cell d-none">
                        <p th:text="${uri.hit}">hits</p>
                    </td>
                    <td class="d-md-table-cell d-none" th:with="dateFormat=#{uri.creationTimestamp.format}">
                        <p th:text="${#temporals.format(uri.creationTimestamp, dateFormat)}">
                            created at...</p>
                    </td>
                    <!-- End Url data -->

                    <!-- Delete button -->
                    <td class="text-center">
                        <button class="btn btn-danger" type="button" data-bs-toggle="modal"
                            th:attr="data-bs-target=|#${uri.id}|">
                            <i class="fa-solid fa-trash"></i>
                        </button>

                        <!-- Url deletion modal -->
                        <div class="modal fade" th:attr="id=${uri.id}" tabIndex="-1">
                            <div class="modal-dialog">
                                <div class="modal-content bg-dark text-white">
                                    <div class="modal-header bg-danger">
                                        <span class="text-white fs-5 fw-bold">Delete</span>
                                        <button class="btn-close" type="button" data-bs-dismiss="modal"></button>
                                    </div>
                                    <div class="modal-body">
                                        Tem certeza que deseja remover
                                        <br>
                                        <a th:href="${uri.uri}" target="_blank">
                                            <span class="fw-bold" th:text="${uri.uri}">
                                            </span>
                                        </a>
                                        ?
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" data-bs-dismiss="modal"
                                            class="btn btn-secondary">Close</button>

                                        <form method="post" action="/user/adm/uris/delete"
                                            th:action="@{/user/adm/uris/delete}">
                                            <input type="hidden" name="id" autocomplete="off" th:value="${uri.id}">
                                            <button type="submit" class="btn btn-danger">Delete</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>

        </table>

        <!-- Pagination -->
        <nav class="mt-3" th:if="${urisPage.totalPages > 1}">
            <ol class="pagination justify-content-center">

                <!-- Previous button -->
                <li th:if="${!urisPage.isFirst}" class="page-item">
                    <a href="#" th:href="@{${uri}(p=${urisPage.number - 1}
                                   ,search=${param.get('search')}
                                   ,user=${param.get('user')})}" class="page-link border-0 text-white bg-dark">
                        <span>
                            <i class="fa-solid fa-circle-chevron-left"></i>
                        </span>
                    </a>
                </li>

                <!-- Page numbers -->
                <li th:each="page, stat : ${pagination}" class="page-item">
                    <a th:href="@{${uri}(p=${page},search=${param.get('search')},user=${param.get('user')})}"
                        th:text="${page + 1}" class="page-link border-0"
                        th:classappend="${page == urisPage.number}? 'bg-dark-subtle text-black': 'bg-dark text-white'">1</a>
                </li>

                <!-- Next button -->
                <li th:if="${!urisPage.isLast}" class="page-item">
                    <a href="#" th:href="@{${uri}(p=${urisPage.number + 1}
                                   ,search=${param.get('search')}
                                   ,user=${param.get('user')})}" class="page-link border-0 text-white bg-dark">
                        <span>
                            <i class="fa-solid fa-circle-chevron-right"></i>
                        </span>
                    </a>
                </li>
            </ol>
        </nav>

    </div>

</body>

</html>
