<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Admin panel</title>
    <link th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}" rel="stylesheet" />
    <script th:src="@{/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js}" defer></script>
    <link th:href="@{/webjars/font-awesome/6.5.2/css/all.min.css}" rel="stylesheet" />
</head>

<body class="bg-secondary">

    <div th:replace="fragments/header :: navigation">
    </div>

    <div th:if="${deleted}"
        class="alert alert-success alert-dismissible fade show w-10 position-fixed bottom-0 end-0 m-2" role="alert">
        Usuario removido com sucesso!
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

    <!-- Main table -->
    <div class="container rounded">
        <div class="mt-5" th:if="${userPage.numberOfElements} == 0">
            <h2 class="text-white text-center bg-dark rounded lh-lg" th:text="#{empty.users}"></h2>
        </div>
        <table th:if="${userPage.numberOfElements} != 0" class="table table-dark rounded m-1">
            <tr class="text-center">
                <th scope="col">USERNAME</th>
                <th scope="col">EMAIL</th>
                <th scope="col">URL LIMIT</th>
                <th scope="col">ROLE</th>
                <th scope="col">ENABLED</th>
                <th scope="col">Edit</th>
                <th scope="col">Remove</th>
            </tr>
            <tr class="text-center" th:each="user : ${userPage}">
                <td>
                    <p class="" th:text="${user.username}">username</p>
                </td>
                <td>
                    <p class="" th:text="${user.email}">email</p>
                </td>
                <td>
                    <p class="" th:text="${user.urlCount} == -1? Unlimited: ${user.urlCount}">INFINITE</p>
                </td>
                <td>
                    <p class="" th:text="${user.role}">ADMIN</p>
                </td>
                <td class="text-center">
                    <button class="btn" th:classappend="${user.enabled}? btn-primary : btn-outline-primary"
                        th:text="${user.enabled}? Enabled : Disabled" disabled>-disabled-</button>
                </td>
                <td class="text-center">
                    <form method="get" th:action="@{/user/adm/edit}">
                        <input type="hidden" name="id" autocomplete="off" th:value="${user.id}">
                        <button class="btn btn-primary" type="submit">
                            <i class="fas fa-edit"></i>
                        </button>
                    </form>
                </td>
                <td class="text-center">
                    <button class="btn btn-danger" type="button" data-bs-toggle="modal"
                        th:attr="data-bs-target=|#${user.id}|">
                        <i class="fa-solid fa-trash"></i>
                    </button>

                    <div class="modal fade" th:attr="id=${user.id}" tabIndex="-1">
                        <div class="modal-dialog">
                            <div class="modal-content bg-dark text-white">
                                <div class="modal-header bg-danger">
                                    <span class="text-white fs-5 fw-bold">Delete</span>
                                    <button class="btn-close" type="button" data-bs-dismiss="modal"></button>
                                </div>
                                <div class="modal-body"> <!-- On going experiment -->
                                    Tem certeza que deseja remover
                                    <span class="fw-bold" th:text="${user.username}">
                                    </span>
                                    ?
                                </div>
                                <div class="modal-footer">
                                    <button type="button" data-bs-dismiss="modal"
                                        class="btn btn-secondary">Close</button>

                                    <form method="post" action="/user/adm/delete" th:action="@{/user/adm/delete}">
                                        <input type="hidden" name="id" autocomplete="off" th:value="${user.id}">
                                        <button type="submit" class="btn btn-danger">Delete</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        </table>

        <!-- Pagination -->
        <nav th:if="${userPage.totalPages > 1}">
            <ol class="pagination justify-content-center">

                <li th:if="${!userPage.isFirst}" class="page-item">
                    <a href="#" th:href="@{${url}(p=${userPage.number - 1})}"
                        class="page-link border-0 text-white bg-dark">
                        <span>
                            <i class="fa-solid fa-circle-chevron-left"></i>
                        </span>
                    </a>
                </li>

                <li th:each="page, stat : ${pagination}" class="page-item">
                    <a th:href="@{${url}(p=${page})}" th:text="${page + 1}" class="page-link border-0"
                        th:classappend="${page == userPage.number}? 'bg-dark-subtle text-black': 'bg-dark text-white'">1</a>
                </li>

                <li th:if="${!userPage.isLast}" class="page-item">
                    <a href="#" th:href="@{${url}(p=${userPage.number + 1})}"
                        class="page-link border-0 text-white bg-dark">
                        <span>
                            <i class="fa-solid fa-circle-chevron-right"></i>
                        </span>
                    </a>
                </li>
            </ol>
        </nav>

    </div>

</body>

</html>
