<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Admin panel</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
        th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}" rel="stylesheet" />
    <script th:src="@{/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js}" defer></script>
    <link th:href="@{/webjars/font-awesome/6.5.2/css/all.min.css}" rel="stylesheet" />

</head>

<body class="bg-secondary">

    <!-- Navigation -->
    <div th:replace="fragments/header :: navigation"></div>

    <div th:if="${message}" class="alert alert-dismissible fade show w-10 position-fixed bottom-0 end-0 m-2"
        th:classappend="|alert-${messageType?: 'info'}|" role="alert">
        <span th:text="#{${message}}"></span>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

    <div class="container">

        <!-- Search container -->
        <div class="container-fluid">
            <div class="bg-dark rounded my-2 p-2">

                <nav class="navbar my-1 mx-3">
                    <form class="d-flex flex-fill" th:action="@{/user/adm}" method="get">
                        <div class="input-group">
                            <label class="input-group-text bg-secondary text-white border-secondary user-select-none"
                                th:text="#{ui.uri.form.search}" for="search">Search:</label>
                            <input class="form-control bg-dark-subtle" type="search" name="search" id="search"
                                th:placeholder="#{ui.user.form.search}" th:value="${param.get('search')}">
                            <a th:href="@{?(user=${param.get('user')})}" class="btn btn-danger"
                                th:if="${!#strings.isEmpty(param.get('search'))}">
                                <i class="fa-solid fa-x"></i>
                            </a>
                            <input class="btn btn-secondary" type="submit" th:value="#{menu.nav.btn.submit}">
                        </div>
                    </form>
                </nav>

                <!-- Search result message -->
                <div th:if="${!#strings.isEmpty(param.get('search'))}">
                    <p class="text-center text-white m-0">
                        Search results for: <span class="fw-bold" th:text="|${param.get('search')}|"></span>
                    </p>
                </div>
            </div>
        </div>

        <!-- No users message -->
        <div class="mt-5" th:if="${userPage.numberOfElements} == 0">
            <h2 class="text-white text-center bg-dark rounded lh-lg" th:text="#{empty.users}"></h2>
        </div>

        <!-- Main table -->
        <table th:if="${userPage.numberOfElements} != 0" class="table table-dark table-striped mt-3">

            <!-- Table header -->
            <thead class="">
                <tr class="text-center">
                    <th th:text="#{ui.user.username}" class="text-uppercase" scope="col">USERNAME</th>
                    <th th:text="#{ui.user.email}" class="text-uppercase d-md-table-cell d-none" scope="col">EMAIL </th>
                    <th th:text="#{ui.user.urllimit}" class="text-uppercase d-md-table-cell d-none" scope="col">URL
                        LIMIT</th>
                    <th th:text="#{ui.user.role}" class="text-uppercase d-md-table-cell d-none" scope="col">ROLE </th>
                    <th th:text="#{ui.user.enabled}" class="text-uppercase d-md-table-cell d-none" scope="col">ENABLED
                    </th>
                    <th th:text="#{ui.user.edit}" class="text-uppercase" scope="col">Edit</th>
                    <th th:text="#{ui.user.remove}" class="text-uppercase" scope="col">Remove</th>
                </tr>
            </thead>

            <tbody class="table-group-divider">

                <!-- User tuple -->
                <tr class="text-center" th:each="user : ${userPage}">

                    <!-- Begin user data -->
                    <td>
                        <p th:text="${user.username}">username</p>
                    </td>
                    <td class="d-md-table-cell d-none">
                        <p th:text="${user.email}">email</p>
                    </td>
                    <td class="d-md-table-cell d-none">
                        <p
                            th:text="${user.urlCreationLimit} == -1? #{ui.user.urllimit.unlimited}: ${user.urlCreationLimit}">
                            Unlimited
                        </p>
                    </td>
                    <td class="d-md-table-cell d-none">
                        <p th:text="${user.role}">ADMIN</p>
                    </td>
                    <td class="text-center d-md-table-cell d-none">
                        <button class="btn" th:classappend="${user.enabled}? btn-primary : btn-outline-primary"
                            th:text="${user.enabled}? #{ui.user.enabled.on} : #{ui.user.enabled.off}"
                            disabled>-disabled-</button>
                    </td>
                    <!-- End user data -->

                    <!-- Edit button -->
                    <td class="text-center">
                        <form method="get" th:action="@{/user/adm/edit}">
                            <input type="hidden" name="id" autocomplete="off" th:value="${user.id}">
                            <button class="btn btn-primary" type="submit">
                                <i class="fas fa-edit"></i>
                            </button>
                        </form>
                    </td>

                    <!-- Delete button -->
                    <td class="text-center">
                        <button class="btn btn-danger" type="button" data-bs-toggle="modal"
                            th:attr="data-bs-target=|#${user.id}|">
                            <i class="fa-solid fa-trash"></i>
                        </button>

                        <!-- User deletion modal -->
                        <div class="modal fade" th:attr="id=${user.id}" tabIndex="-1">
                            <div class="modal-dialog">
                                <div class="modal-content bg-dark text-white">
                                    <div class="modal-header bg-danger">
                                        <span class="text-white fs-5 fw-bold">Delete</span>
                                        <button class="btn-close" type="button" data-bs-dismiss="modal"></button>
                                    </div>
                                    <div class="modal-body">
                                        Tem certeza que deseja remover
                                        <span class="fw-bold" th:text="${user.username}">
                                        </span>
                                        ?
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" data-bs-dismiss="modal"
                                            class="btn btn-secondary">Close</button>

                                        <form method="post" action="/user/adm/delete" th:action="@{/user/adm/delete}">
                                            <input type="hidden" name="id" autocomplete="off" th:value="${user.id}">
                                            <button type="submit" class="btn btn-danger">Delete</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>

        </table>

        <!-- Pagination -->
        <nav class="mt-3" th:if="${userPage.totalPages > 1}">
            <ol class="pagination justify-content-center">

                <!-- Previous button -->
                <li th:if="${!userPage.isFirst}" class="page-item">
                    <a href="#" th:href="@{${url}(p=${userPage.number - 1},
                               search=${param.get('search')})}" class="page-link border-0 text-white bg-dark">
                        <span>
                            <i class="fa-solid fa-circle-chevron-left"></i>
                        </span>
                    </a>
                </li>

                <!-- Page numbers -->
                <li th:each="page, stat : ${pagination}" class="page-item">
                    <a th:href="@{${url}(p=${page},
                                search=${param.get('search')})}" th:text="${page + 1}" class="page-link border-0"
                        th:classappend="${page == userPage.number}? 'bg-dark-subtle text-black': 'bg-dark text-white'">1</a>
                </li>

                <!-- Next button -->
                <li th:if="${!userPage.isLast}" class="page-item">
                    <a href="#" th:href="@{${url}(p=${userPage.number + 1},
                                search=${param.get('search')})}" class="page-link border-0 text-white bg-dark">
                        <span>
                            <i class="fa-solid fa-circle-chevron-right"></i>
                        </span>
                    </a>
                </li>
            </ol>
        </nav>

    </div>

</body>

</html>
