<div th:fragment="navigation" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark p-1 ps-3">

        <!-- Nav brand -->
        <a href="/" class="navbar-brand text-align-center">
            <img th:src="@{/images/shortz_icon.png}" src="../../static/images/shortz_icon.png" alt="" width="21"
                height="21">
            Shortz
        </a>

        <!-- User name on small screens -->
        <div sec:authorize="isAuthenticated()" class="text-light user-select-none m-3 d-md-none">
            <span sec:authentication="name">Usuario</span>
        </div>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-toggle">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Navigation buttons -->
        <div id="navbar-toggle" class="collapse navbar-collapse justify-content-between">
            <ul class="navbar-nav justify-content-start container-fluid">
                <li class="nav-item m-2">
                    <a th:text="#{menu.nav.link.home}" href="/" class="nav-link btn btn-secondary">Home</a>
                </li>
                <li class="nav-item m-2">
                    <a sec:authorize="isAuthenticated() && hasRole('ADMIN')" th:href="@{/user/adm}"
                        th:text="#{menu.nav.link.userManagement}" class="nav-link btn btn-secondary">User management</a>
                </li>
            </ul>

            <!-- User name on large screens -->
            <div sec:authorize="isAuthenticated()" class="text-light user-select-none m-3 d-none d-md-inline">
                <span sec:authentication="name">Usuario</span>
            </div>

            <!-- Logout button -->
            <form class="d-flex" sec:authorize="isAuthenticated()" th:action="@{/user/logout}" action="/user/logout"
                method="post">
                <input th:value="#{menu.nav.btn.logout}" class="btn btn-outline-secondary flex-fill text-sm-center m-2"
                    type="submit" value="Logout">
            </form>

            <!-- Login button -->
            <div class="d-flex m-2" sec:authorize="!isAuthenticated()">
                <a th:href="@{/user/login}" th:text="#{menu.nav.btn.login}"
                    class="btn btn-primary flex-fill text-sm-center">Login</a>
            </div>
        </div>

    </nav>
</div>
